## Introduction to Python

* Most companies these days prefer Python because its easy to use, user friendly and has a large community (e.g stackoverflow)

* Python can be used for large data (tweets per second, amazon orders over a period etc) unlike excel which is limited to specific number of rows and columns

* Python is a very important tool needed as a data analyst

## Variables and Operators

### Explaining what are variables (with examples, assignment operator and equal operator( =, ==, !=))

In [1]:
#every programming tool has what we call a variable,variable is any name used to store anything or value

#what is stored determines the type of that variable.. if a string it will have a quote "", we also have int, float, boolean

john = "Data Scientist"
age = 30

# we store variable for re usability, use formative names to store variables so you can understand it
# a variable cannot start with a number

13 = "joy"

#  = means assignment operator, storing the value
#  == means equal sign which is used to ask questions

In [2]:
john = "Data Scientist"

In [3]:
john == "Doctor" #asking questions which shows false

False

In [4]:
john != "Doctor"

True

### Data types (str, int, float, boolean)

In [5]:
#the type of value the variable they store determines the variable's data type
#python is case sensitive

john == "data scientist"

False

In [6]:
#how to check types of a variable using the type function

type(john)

str

In [7]:
age = 30  #without decimal points
type(age)

int

In [8]:
age1 = 30.4 #numbers with decimal points
type(age1)

float

In [9]:
#boolean means True or False (capitalize the first letter)

bool1 = True
type (bool1)

bool

In [10]:
#integer division and other arithmetics (+, -, *, /, //, round up, ceil, floor)

# you can do arithmetics with python
age * 2 #multiplication operator
age / 2 #division operator
age + 2 #addition operator
age - 2 #subtraction operator
2**4 #raise to power 4

16

In [11]:
age//2 #integer division removing the fraction (it does floor division)

15

In [12]:
#importing the function
import math 

math.ceil(age/4) #round up
math.floor(age/4) #round down

7

In [13]:
val = 77/9
round(val, 2)  # rounding up to two decimal places

8.56

## Data Structures

## Strings
- A Python string is a sequence which consist of one or more characters. The string is an immutable
data structure, which means they cannot be changed.  For example, if you define string str1 = "I am an analyst", 
then str1 will always remain "I am an analyst"

In [14]:
# a string is anything inside a quote and is immutable

vaf = "24" #is also a string even though a number

In [15]:
str1 = "Data Science is changing the world"

#to get the length of this string, python will count all the characters including the spaces

In [16]:
# get the length of the string (using len function)
len(str1)

34

### String indexing (single part) and string slicing (multiple parts)

In [17]:
## String Indexing (retriving a single part of the string)

#first element = python starts counting position from 0

#first element
str1[0]


# get the last element of the string
str1[-1]

#get second to the last
str1[-2]

'l'

In [18]:
# Python slicing (retriving multiple elements in a string)

#getting some part of the string using python slicing 


#retrieve the first four elements
str1[0 : 4]  #it does not include the 4th position

str1[ : 4]

str1 [3 : ]   #meaning from position 3 to the end

str1[-3 : ] #from the third to last position to the end

# reverse a string
str1[: : -1]  #python should go from the beginning to the end and jump step of 1 but a reversal

str1[ : : 2] #go from begining to the end in step of 2

'Dt cec scagn h ol'

## String Methods

In [76]:
str2 = "We are all humans, we love python, we love coding"

# difference between functions and methods

# how many times "we" occurs
str2.count("we")


# Turn string to uppercase
str2.upper()


# Turn string to lowercase
str2.lower()


# capitalize string (first letter of the sentence)
str2.capitalize()


# Convert string to title (first letter of every word of the sentence)
str2.title()

# split the string to get tokens 
str2.split()    #by default the method splits by white space and forms a list (which is denoted by square bracket)

['We',
 'are',
 'all',
 'humans,',
 'we',
 'love',
 'python,',
 'we',
 'love',
 'coding']

In [37]:
# string is immutable
str2 [0] = "do"   #gives error if you try to alter a string

TypeError: 'str' object does not support item assignment

In [43]:
str_new = str2.replace("we", "do")  #if you choose to alter a string

In [44]:
str_new

'We are all humans, do love python, do love coding'

## Lists
- Python list is also a built-in data structure available in Python. It can contain heterogeneous values 
such as integers, floats, strings, tuples, lists, and dictionaries. 
However, Python lists are mutable; yes, they can change

In [152]:
# creating a list with values
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', ["man", 30]]

### Indexing a list

In [153]:
# get the first element
Avengers[0]   #using indexing method as in the case of string


#get last element
Avengers[-1]


#get last element of the list inside the list "30"
Avengers[-1][1]


# reverse the list
Avengers[ : : -1]


# update the second element of the list with "Captain-America"
Avengers[0] = "Spider"


# add element to the list {using append or insert method}
Avengers.append("bin")    #the method adds to the end of the list

Avengers.insert(0, "America")  #inserting in position 0


# deleting an element from the list

Avengers.remove("Thor")

#or

Avengers.pop(2)  #element in position 2

'iron-man'

In [74]:
Avengers

['hulk', 'iron-man', 'Thor', ['man', 30]]

## List Methods (functions on list)

In [25]:
l1 = [3,2,3,6,9,4,50]

# find the maximum
max(l1)

# find the minimum
min(l1)

# calculate mean
sum(l1)/len(l1)

# sort the list using sort() and sorted()

sorted(l1)   #by default in ascending order
sorted(l1, reverse = True)  #in descending order


l1.sort()
l1.sort(reverse = True)

In [67]:
#range function

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#range function of 0 to 9 

range(0, 10)  #10 will not be included


l2 = list(range(10))

In [27]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## For-loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string) using the "for" keyword

In [62]:
social_media = ["facebook", "instagram", "snapchat", "whatsapp", "wechat", "twitter"]
for x in social_media:
    print(x)

facebook
instagram
snapchat
whatsapp
wechat
twitter

In [68]:
# write a program to generate the square of numbers 1 to 10

num = list(range (1, 11))

for i in num:
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [30]:
list2

[4, 16, 36, 64, 100]

## If, elif and else statements

In [63]:
social_media = ["facebook", "instagram", "snapchat", "whatsapp", "wechat", "twitter"]
for x in social_media:
    if x.startswith("w"):
        print(x)

whatsapp
wechat

In [73]:
#write a program to generate the square of all even numbers between 1 to 10
num = list(range (1, 11))

list2 = []
for i in num:
    if i % 2 == 0:   # % means rememder after dividing
        list2.append(i ** 2)
list2

[4, 16, 36, 64, 100]

In [72]:
# write a program to generate odd numbers within 1 to 20 that are divisible by 5 

#Odd numbers are the numbers that cannot be divided by 2 evenly. It cannot be divided into two separate integers evenly.

listx = []
num = list(range (1, 21))

for i in num:
    if i % 2 == 1 and i % 5 == 0:
        listx.append(i)
listx

[1, 3, 5, 7, 9, 10, 11, 13, 15, 17, 19, 20]

In [84]:
#write a program to generate number between 13 to 20 and exclude 14 and 15

digits = list(range(13, 20))

for i in digits:
    if i != 14 and i != 15:
        print (i)

13
16
17
18
19

### Conditional Statements

Write a program to show the different grades of an examination

* Grade A = (70 to 100)
* Grade B = (60 to 69)
* Grade C = (50 to 59)
* Grade D = (40 to 49)
* Fail = (39 and below)

In [95]:
Grade = int(input("Enter your grade: "))

if Grade >= 70 and Grade <= 100:
    print ("Grade A")
    
elif Grade >= 60 and Grade <= 69:
    print ("Grade B")
    
elif Grade >= 50 and Grade <= 59:
    print ("Grade C")
    
elif Grade >= 40 and Grade <= 49:
    print ("Grade D")

elif Grade >= 0 and Grade <= 39:
    print ("Fail")
    
else:
    print("Not Valid")

Enter your grade: 60
Grade B

## Functions defining a function

In [139]:
# to be able to reuse your codes and not to keep writing them over again (reuseability), like to wrap your codes

#use a key word called def (define)

#create a function name
#put in the bracketts the items that keep changing
#then the body of the function

# write a function to add two numbers

def addtwonums (a, b):
    z = a + b
    return z

In [140]:
addtwonums(1 , 3)

4

## Function Example

In [144]:
#print even numbers between 1 and 10
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## Function for above

In [147]:
#function to print even numbers between any range of numbers
def generateNumbers(start, end):
    for i in range(start, end):
        if i % 2 == 0:   
            print(i)

In [151]:
generateNumbers(start = 5, end = 10)

6
8

## Dictionaries
- In Python, a dictionary is a sequence of key-value, or item, pairs separated by commas. 
- Consider the following example:
    - port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" } 
- The port variable refers to a dictionary that contains port numbers as keys and its protocol names as values. 
- Consider the following example:
    - companies = {"IBM": "International Business Machines", "L&T" :"Larsen & Toubro"} 
- The syntax of a dictionary is as follows:
    - Dictionary_name = {key: value}

In [99]:
# get the individual value for the key
Port = {80: "HTTP", 23 : "Telnet", 443 : "HTTPS"}


# Access the dictionary above
Port[23]

'Telnet'

## Updating the values in the dictionary

In [34]:
# suppose value of port 23 is "SMTP", update the dictionary


# Add another value in the dictionary
Port[23] = "POP"

In [35]:
print(Port)

{80: 'HTTP', 23: 'POP', 443: 'HTTPS'}

In [36]:
type(Port)

dict