In [1]:
#Anime Rating Case Study (What are the important factors influencing the rating of an anime
#and build a predictive model to predict the rating of the anime)

## DATA PREPROCESSING

In [19]:
import numpy as np
import pandas as pd

#numpy is a library which used for working with arrays, it means numerical python

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)

In [20]:
#'loading the dataset'

anime = pd.read_csv(r"C:\Users\User 1\Desktop\Ailead\anime.csv")

In [22]:
anime.head()

,title,mediaType,eps,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,tags,contentWarn,watched,watching,wantWatch,dropped,rating,votes
0,Fullmetal Alchemist: Brotherhood,TV,64.0,NaN,False,2009.0,2010.0,Spring,The foundation of alchemy is based on the law ...,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy', 'M...","['Animal Abuse', 'Mature Themes', 'Violence', ...",103707.0,14351,25810,2656,4.702,86547.0
1,your name.,Movie,1.0,107.0,False,2016.0,2016.0,NaN,Mitsuha and Taki are two total strangers livin...,['CoMix Wave Films'],"['Drama', 'Romance', 'Body Swapping', 'Gender ...",[],58831.0,1453,21733,124,4.663,43960.0
2,A Silent Voice,Movie,1.0,130.0,False,2016.0,2016.0,NaN,"After transferring into a new school, a deaf g...",['Kyoto Animation'],"['Drama', 'Shounen', 'Disability', 'Melancholy...","['Bullying', 'Mature Themes', 'Suicide']",45892.0,946,17148,132,4.661,33752.0
3,Haikyuu!! Karasuno High School vs Shiratorizaw...,TV,10.0,NaN,False,2016.0,2016.0,Fall,"Picking up where the second season ended, the ...",['Production I.G'],"['Shounen', 'Sports', 'Animeism', 'School Club...",[],25134.0,2183,8082,167,4.660,17422.0
4,Attack on Titan 3rd Season: Part II,TV,10.0,NaN,False,2019.0,2019.0,Spring,The battle to retake Wall Maria begins now! Wi...,['Wit Studio'],"['Action', 'Fantasy', 'Horror', 'Shounen', 'Da...","['Cannibalism', 'Explicit Violence']",21308.0,3217,7864,174,4.650,15789.0

In [6]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14578 entries, 0 to 14577
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         14578 non-null  object
 1   mediaType     14510 non-null  object
 2   eps           14219 non-null  float64
 3   duration      9137 non-null   float64
 4   ongoing       14578 non-null  bool
 5   startYr       14356 non-null  float64
 6   finishYr      14134 non-null  float64
 7   sznOfRelease  3767 non-null   object
 8   description   8173 non-null   object
 9   studios       14578 non-null  object
 10  tags          14578 non-null  object
 11  contentWarn   14578 non-null  object
 12  watched       14356 non-null  float64
 13  watching      14578 non-null  int64
 14  wantWatch     14578 non-null  int64
 15  dropped       14578 non-null  int64
 16  rating        12107 non-null  float64
 17  votes         12119 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(7)
memory usage: 1.9+ MB

In [7]:
anime.isnull().sum()

title               0
mediaType          68
eps               359
duration         5441
ongoing             0
startYr           222
finishYr          444
sznOfRelease    10811
description      6405
studios             0
tags                0
contentWarn         0
watched           222
watching            0
wantWatch           0
dropped             0
rating           2471
votes            2459
dtype: int64

In [8]:
anime["duration"].unique()

array([ nan, 107., 130., 111., 125., 117.,  90., 118.,  83., 134.,  22.,
        44., 105.,  86.,  47.,  45.,  24., 162., 112., 108.,  48.,  26.,
        68., 104.,  98., 119., 116.,  95.,  49.,  27., 103.,  96.,  25.,
       100., 114.,   4.,  23., 115., 148.,  88.,  60.,  34.,  62., 101.,
        99.,  11.,  63.,  12., 110.,  20.,  50.,  28.,  15., 109., 120.,
        40.,   6., 113.,  92.,  10., 102., 135.,   3.,  56., 121., 140.,
        93., 150.,  16., 137.,  13.,   5.,  46.,  94., 163.,  14.,   7.,
        71.,  89.,  51., 106.,  55., 127.,  18.,  58.,  91.,  19.,  52.,
        80.,   8.,  87.,  78.,  75.,  84.,   2.,  65.,  30., 132.,  70.,
        82.,  77.,  76.,  31.,  85.,  42.,  53.,  32.,  17.,  61.,  73.,
        21.,   1.,  64.,  43.,  97.,  37., 123.,  69.,  38., 122.,  33.,
        39.,   9., 136.,  72.,  57., 138., 141.,  29.,  54.,  35.,  66.,
        74., 126.,  59., 152.,  79., 153.,  81., 131.,  36., 145.,  67.,
        41., 128., 235., 124., 160.])

In [9]:
#check for duplicated date
anime.duplicated().sum()

0

In [10]:
#CHECK COLUMN NAMES
anime.columns

Index(['title', 'mediaType', 'eps', 'duration', 'ongoing', 'startYr',
       'finishYr', 'sznOfRelease', 'description', 'studios', 'tags',
       'contentWarn', 'watched', 'watching', 'wantWatch', 'dropped', 'rating',
       'votes'],
      dtype='object')

In [11]:
#because I want predict rating, we have to drop the missing values in rating because we cannot predict nas
#how to drop
anime.dropna(subset = ["rating"], inplace = True)

In [12]:
#reset the dataframe index

anime.reset_index(drop = True, inplace = True)

In [23]:
#working on startyr
#lets check where its missing
anime[anime["startYr"].isnull()].head(2)

,title,mediaType,eps,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,tags,contentWarn,watched,watching,wantWatch,dropped,rating,votes
1405,Unbelievable Space Love,Web,10.0,1.0,False,NaN,NaN,NaN,NaN,[],"['BL', 'Romance', 'Shounen-ai', 'Dream World',...",[],90.0,16,343,0,4.012,54.0
5225,Manbo-P: Irokoizata wa Subete Sakuzu de Kaiket...,Music Video,1.0,5.0,False,NaN,NaN,NaN,NaN,[],"['Comedy', 'Romance', 'Vocaloid']",[],41.0,0,25,0,3.139,20.0

In [14]:
#its a difficult column to clean as we dont know the start year so you need domain knowledge, so we just drop it
anime.dropna(subset = ["startYr"], inplace = True)

anime.reset_index(drop = True, inplace = True)

In [24]:
#finishyr column with null

anime[anime["finishYr"].isnull()].head(2)

,title,mediaType,eps,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,tags,contentWarn,watched,watching,wantWatch,dropped,rating,votes
13,Kaguya-sama: Love Is War?,TV,10.0,NaN,True,2020.0,NaN,Spring,The battle between love and pride continues! N...,['A-1 Pictures'],"['Comedy', 'Drama', 'Romance', 'Seinen', 'Epis...",[],NaN,6368,5747,96,4.617,2359.0
46,Douluo Dalu 2,Web,82.0,22.0,True,2018.0,NaN,NaN,Second season of Douluo Dalu.,[],"['Action', 'Fantasy', 'Chinese Animation', 'Cu...",[],NaN,1167,990,32,4.540,549.0

In [25]:
anime[anime["finishYr"].isnull()].head(2)

#all ongoing movies is "True", so that is why there is no finished year yet

,title,mediaType,eps,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,tags,contentWarn,watched,watching,wantWatch,dropped,rating,votes
13,Kaguya-sama: Love Is War?,TV,10.0,NaN,True,2020.0,NaN,Spring,The battle between love and pride continues! N...,['A-1 Pictures'],"['Comedy', 'Drama', 'Romance', 'Seinen', 'Epis...",[],NaN,6368,5747,96,4.617,2359.0
46,Douluo Dalu 2,Web,82.0,22.0,True,2018.0,NaN,NaN,Second season of Douluo Dalu.,[],"['Action', 'Fantasy', 'Chinese Animation', 'Cu...",[],NaN,1167,990,32,4.540,549.0

In [17]:
omg = anime[anime["finishYr"].isnull()] #save with a variable name

In [18]:
omg["ongoing"].unique() #meaning all the movies are still ongoing

array([ True])

In [26]:
anime.describe()
#since max of the finish yr is 2020 and the movies may still be on going, fill the missing values with year 2020

,eps,duration,startYr,finishYr,watched,watching,wantWatch,dropped,rating,votes
count,14219.000000,9137.000000,14356.000000,14134.000000,14356.000000,14578.000000,14578.000000,14578.000000,12107.000000,12119.000000
mean,13.501231,23.465142,2005.457788,2005.515919,2408.043396,213.026684,1021.729112,125.963026,2.948697,2085.787771
std,62.262185,30.777048,14.707105,14.656509,7168.368428,1261.707640,2145.010604,453.577348,0.827642,5946.283685
min,1.000000,1.000000,1907.000000,1907.000000,0.000000,0.000000,0.000000,0.000000,0.844000,10.000000
25%,1.000000,3.000000,2000.000000,2000.000000,25.000000,1.000000,24.000000,1.000000,2.303500,34.000000
50%,1.000000,8.000000,2010.000000,2010.000000,165.000000,7.000000,175.000000,7.000000,2.965000,218.000000
75%,12.000000,29.000000,2016.000000,2016.000000,1469.500000,63.000000,980.000000,40.000000,3.615500,1412.500000
max,2527.000000,235.000000,2026.000000,2026.000000,161567.000000,74537.000000,28541.000000,19481.000000,4.702000,131067.000000

In [20]:
#fill the nan values in finishyr with 2020(set place to True)
anime.finishYr.fillna(2020, inplace = True)

In [21]:
anime.isnull().sum()

title              0
mediaType         63
eps                0
duration        4636
ongoing            0
startYr            0
finishYr           0
sznOfRelease    8554
description     4468
studios            0
tags               0
contentWarn        0
watched          115
watching           0
wantWatch          0
dropped            0
rating             0
votes              0
dtype: int64

In [22]:
#feature engineering
#creating a new column from another your dataset
#lets call the column "years_running" to know how long the movie ran for

In [23]:
#correct/convert data type of some of the columns to int
anime["startYr"] = anime["startYr"].astype("int64")
anime["finishYr"] = anime["finishYr"].astype("int64")

In [27]:
anime.isnull().sum()

title               0
mediaType          63
eps                 0
duration         4636
ongoing             0
startYr             0
finishYr            0
sznOfRelease     8554
description      4468
studios             0
tags                0
contentWarn         0
watched           115
watching            0
wantWatch           0
dropped             0
rating              0
votes               0
years_running       0
dtype: int64

In [28]:
#season of release has so many missing records and it would not be wise to drop it because we would be losing alot of data

In [29]:
anime["sznOfRelease"].value_counts() #checking the value count

Spring    1135
Fall      1011
Winter     717
Summer     684
Name: sznOfRelease, dtype: int64

In [30]:
#sznOfRelease: the seasons the movie was filled. It wont make sense to remove it. 
#We can just fill it with "not known", a place holder or abitrary name
anime["sznOfRelease"].fillna("not_known", inplace = True)

In [35]:
#we could as well just fill it with a value, lets say "not known"
anime["mediaType"].fillna("not_known", inplace = True)

In [36]:
#or fill it with the mean or mode of mediatype using replace method
mode = anime["mediaType"].mode()
#anime["mediaType"].fillna(anime["mediaType"].mode()[0], inplace = True)
#anime["mediaType"].replace(np.nan, "TV", inplace = True)

In [37]:
anime["mediaType"].unique()

array(['TV', 'Movie', 'Web', 'TV Special', 'OVA', 'not_known',
       'DVD Special', 'Other', 'Music Video'], dtype=object)

In [46]:
#view contentwarn with []
anime[anime["contentWarn"] == "[]"].head(3)

,title,mediaType,eps,duration,ongoing,startYr,finishYr,sznOfRelease,description,studios,tags,contentWarn,watched,watching,wantWatch,dropped,rating,votes,years_running
1,your name.,Movie,1.0,107.0,False,2016,2016,not_known,Mitsuha and Taki are two total strangers livin...,['CoMix Wave Films'],"['Drama', 'Romance', 'Body Swapping', 'Gender ...",[],58831.0,1453,21733,124,4.663,43960.0,0
3,Haikyuu!! Karasuno High School vs Shiratorizaw...,TV,10.0,NaN,False,2016,2016,Fall,"Picking up where the second season ended, the ...",['Production I.G'],"['Shounen', 'Sports', 'Animeism', 'School Club...",[],25134.0,2183,8082,167,4.660,17422.0,0
6,Haikyuu!! Second Season,TV,25.0,NaN,False,2015,2016,Fall,"After losing to Aoba Johsai at the Inter-High,...",['Production I.G'],"['Shounen', 'Sports', 'School Club', 'School L...",[],31329.0,3861,8664,264,4.639,22819.0,1

In [47]:
#replace [] with nan
anime["contentWarn"] = anime["contentWarn"].replace("[]", np.nan)

In [51]:
#fill the duration with the mean of the column
anime["duration"].replace(np.nan, anime["duration"].mean(), inplace = True)

In [52]:
#fill the watched with the mean of the column
anime["watched"].replace(np.nan, anime["watched"].mean(), inplace = True)

In [54]:
#we could as well just fill it with a value, lets say "not known" for the remaining missing columns
anime["description"].fillna("not_known", inplace = True)
anime["studios"].fillna("not_known", inplace = True)
anime["tags"].fillna("not_known", inplace = True)
anime["contentWarn"].fillna("not_known", inplace = True)

In [60]:
anime["watched"] = anime["watched"].astype("int64")

In [61]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12101 entries, 0 to 12100
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          12101 non-null  object
 1   mediaType      12101 non-null  object
 2   eps            12101 non-null  float64
 3   duration       12101 non-null  float64
 4   ongoing        12101 non-null  bool
 5   startYr        12101 non-null  int64
 6   finishYr       12101 non-null  int64
 7   sznOfRelease   12101 non-null  object
 8   description    12101 non-null  object
 9   studios        12101 non-null  object
 10  tags           12101 non-null  object
 11  contentWarn    12101 non-null  object
 12  watched        12101 non-null  int64
 13  watching       12101 non-null  int64
 14  wantWatch      12101 non-null  int64
 15  dropped        12101 non-null  int64
 16  rating         12101 non-null  float64
 17  votes          12101 non-null  float64
 18  years_running  12101 non-null  int64
dtypes: bool(1), float64(4), int64(7), object(7)
memory usage: 1.7+ MB

In [62]:
#saving the file as csv
anime.to_csv("anime_newfile.csv")
#saving the file as excel
anime.to_excel("anime_xnewfile.xlsx")

In [ ]:
### TALK ABOUT DATA PRIVACY NOT SHARING INFO, SECURITY OF SOME KIND OF DATA

## Using Covid Data to explain date time

In [73]:
#get the dates explaing using covid data
covid2 = pd.read_csv(r"C:\Users\User 1\Desktop\Ailead\covid2020.csv")

In [74]:
covid2.head(2)

         date     county       state  fips  cases  deaths
0  21/01/2020  Snohomish  Washington   NaN      1     0.0
1  22/01/2020  Snohomish         NaN   NaN      1     0.0

In [75]:
covid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884737 entries, 0 to 884736
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    884737 non-null  object
 1   county  884737 non-null  object
 2   state   884735 non-null  object
 3   fips    876469 non-null  float64
 4   cases   884737 non-null  int64
 5   deaths  865976 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 40.5+ MB

In [76]:
#convert to pandas date time type
covid2["date"] = pd.to_datetime(covid2["date"], format = "%d/%m/%Y")

In [77]:
covid2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884737 entries, 0 to 884736
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    884737 non-null  datetime64[ns]
 1   county  884737 non-null  object
 2   state   884735 non-null  object
 3   fips    876469 non-null  float64
 4   cases   884737 non-null  int64
 5   deaths  865976 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 40.5+ MB

In [78]:
covid2.dtypes

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths           float64
dtype: object

In [79]:
#get the year out by creating another columns
covid2["year"] = covid2["date"].dt.year
covid2["month"] = covid2["date"].dt.month
covid2["day"] = covid2["date"].dt.day

In [80]:
covid2.isnull().sum()

date          0
county        0
state         2
fips       8268
cases         0
deaths    18761
year          0
month         0
day           0
dtype: int64

In [81]:
covid2.head()

        date     county       state     fips  cases  deaths  year  month  day
0 2020-01-21  Snohomish  Washington      NaN      1     0.0  2020      1   21
1 2020-01-22  Snohomish         NaN      NaN      1     0.0  2020      1   22
2 2020-01-23  Snohomish     Nigeria  53061.0      1     0.0  2020      1   23
3 2020-01-24       Cook    Illinois  17031.0      1     0.0  2020      1   24
4 2020-01-24  Snohomish         NaN  53061.0      1     0.0  2020      1   24

In [82]:
covid2["fips"].fillna("44", inplace = True)

In [83]:
covid2.isnull().sum()

date          0
county        0
state         2
fips          0
cases         0
deaths    18761
year          0
month         0
day           0
dtype: int64

In [84]:
ffill = covid2["state"].fillna(method = "ffill")
ffill

0         Washington
1         Washington
2            Nigeria
3           Illinois
4           Illinois
             ...
884732       Wyoming
884733       Wyoming
884734       Wyoming
884735       Wyoming
884736       Wyoming
Name: state, Length: 884737, dtype: object

In [85]:
covid2.head()

        date     county       state     fips  cases  deaths  year  month  day
0 2020-01-21  Snohomish  Washington       44      1     0.0  2020      1   21
1 2020-01-22  Snohomish         NaN       44      1     0.0  2020      1   22
2 2020-01-23  Snohomish     Nigeria  53061.0      1     0.0  2020      1   23
3 2020-01-24       Cook    Illinois  17031.0      1     0.0  2020      1   24
4 2020-01-24  Snohomish         NaN  53061.0      1     0.0  2020      1   24

In [86]:
bfill = covid2["state"].fillna(method = "bfill")
bfill

0         Washington
1            Nigeria
2            Nigeria
3           Illinois
4         California
             ...
884732       Wyoming
884733       Wyoming
884734       Wyoming
884735       Wyoming
884736       Wyoming
Name: state, Length: 884737, dtype: object